<h3><%= @cluster.name %></h3>
<p>Size: <%= @cluster.nodes.size %></p>
<hr />
<% @cluster.nodes.each do |node| %>
	<%= node.name %>
	<br />
<% end %>
<br />


<%= link_to 'Edit', edit_cluster_path(@cluster) %> |
<%= link_to 'Back', clusters_path %>
