<h3>Capture Log</h3>
<table>
  <tr>
    <th>ID</th>
    <th>Cell #</th>
	<th>Node</th>
	<th>Game</th>
    <th>Active?</th>
    <th>Time</th>
    <th></th>
	<th></th>
  </tr>

<% @captures.each do |capture| %>
  <tr class="<%= cycle("even", "odd") %>">
	<td><%= capture.id %></td>
    <td>Runner <%= capture.runner.id if capture.runner %> (<%= capture.runner.mobile_number[-4..-1]  if capture.runner %>)</td>
	<td><%= capture.node.name %></td>
	<td><%= capture.game.id if capture.game %></td>
	<td><%= capture.game.is_active? if capture.game %></td>
	<td><%= capture.created_at.strftime("%I:%M%p") %></td>
    <td><%= link_to 'E', edit_capture_path(capture) %></td>
    <td><%= link_to 'X', 'captures/' + capture.id.to_s, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />