<h3>Capture Log</h3>
<p> ID | Mobile | Node | Game | is active?</p>
<% @captures.each do |capture| %>
	<p><%= capture.id %>
		 | <%= capture.runner.mobile_number if capture.runner %> | 
		<%= capture.node.name %> | 
		<%= capture.game.id %> | <%= capture.game.is_active? %></p>
<% end %>