<h3>zown capture</h3>

<% @capture.errors.full_messages.each do |msg| %>
	<p><%= msg %></p>
<% end %>
<% form_for @capture do |f| %>
	<%= f.label :mobile_number, 'Mobile #'%>:
	<%= phone_field :runner, :mobile_number %>
	<br />
	<%= f.label :code, 'Code #'%>:
	<%= text_field :node, :code %>
	<br />
	<%= f.submit %>
<% end %>

<hr />
<%= render :partial => 'games/game_nav' if @game %>

<table>
  <tr>
	<th>Teams (<%= @teams.size %>)</th>
	<th>Total Time</th>
	<th>Total Captures</th>
  </tr>

<% @teams.each do |name| %>
  <tr class="<%= cycle("even", "odd") %>">
	<td><%= name %></td>
	<td>[20] seconds</td>
	<td>[3]</td>	  
  </tr>
<% end %>
</table>

<table>
  <tr>
	<th>Zown</th>
	<th>Red</th>
	<th>Blue</th>
	<th>Yellow</th>
  </tr>

<% @number_of_zowns.times do |number| %>
  <tr class="<%= cycle("even", "odd") %>">
	<% number += 1%>
	<td>Zown <%= number %></td>
	<td><%= radio_button("post", number, "red") %></td>
	<td><%= radio_button("post", number, "blue") %></td>
	<td><%= radio_button("post", number, "yellow") %></td>	  
  </tr>
<% end %>
</table>