<h3>Listing runners</h3>

<table>
  <tr>
	<th>Mobile #</th>
    <th>Team ID</th>
	<th></th>
    <th></th>
    <th></th>
  </tr>

<% @runners.each do |runner| %>
  <tr class="<%= cycle("even", "odd") %>">
	<td><%= runner.mobile_number %></td>
	<td><%= runner.team.id if runner.team %></td>
	<td><%= link_to 'Show', runner %></td>
    <td><%= link_to 'Edit', edit_runner_path(runner) %></td>
    <td><%= link_to 'X', runner, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Runner', new_runner_path %>
