<h3>Game Summary</h3>
<p id="notice"><%= notice %></p>

Number of Teams: <%= @game.teams.size %><br/>
<br />
Nodes: (<%= @game.nodes.size %>)<br />
<% @game.nodes.each do |node| %>
<%= node.name %> | Controlling Team: <%= node.current_owner %> <br />
<% end %>
<br /> Start Time: <%= @game.start_time %>
<br /> End Time: <%= @game.end_time %>
<br /> Total Captures: <%= @game.captures.size %><br />
<br /> Cumulative Team times:<br />
<% @game.cumulative_team_times.each do |team, time| %>
	<%= team %>: <%= time.to_i %> seconds<br>
<% end %>
<strong>Winning Team: <%= @game.winning_team %></strong>
<br /><br />

<% @game.teams.each do |team| %>
	<%= team %> Runners:<br />
	<% team.runners.each do |runner| %>
		<%= runner.mobile_number %> | <%= runner.captures.size %> <br />
	<% end %>
	<br />
<% end %>



<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
