<%= render :partial => 'game_nav'%>

<h3>Game Summary</h3>

<strong>Winning Team: <%#= @game.winning_team %></strong>
<% if @game.has_ended? %>
<p><%= @game.start_time.strftime("Start: %I:%M%p") %> | <%= @game.end_time.strftime("End: %I:%M%p") %>
	| <%= @game.end_time.strftime("Date: %m/%d/%y") %></p>
<% end %>

<table>
  <tr>
	<th>Teams (<%= @game.teams.size %>)</th>
	<th>Total Time</th>
	<th>Total Captures</th>
  </tr>

<% @game.current_aggregate_times.each do |team_id, time| %>
	<% team = Team.find(team_id) %>
  <tr class="<%= cycle("even", "odd") %>">
	<td><%= team %></td>
	<td><%= team.aggregate_time %> seconds</td>
	<td><%= team.captures.size %></td>	  
  </tr>
<% end %>
</table>

<table>
  <tr>
	<th>Nodes (<%= @game.nodes.size %>)</th>
	<th>Controlling Team</th>
  </tr>

<% @game.nodes.each do |node| %>
  <tr class="<%= cycle("even", "odd") %>">
	<td><%= node.name %></td>
	<td><%= node.current_owner %></td>	  
  </tr>
<% end %>
</table>

<% @game.teams.each do |team| %>
	<h4><%= team %> Runners</h4>
	<table>
	  <tr>
		<th>Mobile #</th>
		<th><%= pluralize(team.captures.size, 'Capture')%> Total</th>
	  </tr>

	<% team.runners.each do |runner| %>
	  <tr class="<%= cycle("even", "odd") %>">
		<td><%= runner.mobile_number %></td>
		<td><%= runner.captures_in_current_game.size %></td>	  
	  </tr>
	<% end %>
	</table>
<% end %>


<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
