<p id="nav">
	<%= link_to_unless_current 'capture', capture_path %> | 
	<%= link_to_unless_current 'message', message_path %> | 
	<%= link_to_unless_current 'games', games_path %> | 
	<%= link_to_unless_current 'nodes', nodes_path %> | 
	<%= link_to_unless_current 'clusters', clusters_path %> | 
	<%= link_to_unless_current 'captures', captures_path %> | 
	<%= link_to_unless_current 'runners', runners_path %>
</p>